# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# Локальная база данных бэкенда
notes_db.sqlite3

# Личное хранилище заметок (Vault пользователя)
RNT_Vault/

# Среда разработки и ОС
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini
# Сборка PyInstaller
build/
dist/
*.spec
*.exe

# Виртуальное окружение
.venv/
env/

# Кэш Python и системные файлы
__pycache__/
*.pyc
.DS_Store

# База данных и локальное хранилище (чтобы не слить свои заметки)
*.sqlite3
RNT_Vault/